<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Testimonials</title>
    <link rel="stylesheet" href="section5.css">
    

</head>
<body>
<div class="homeTestimonialSection">
    <div class="testimonial-section">
        <h2>What our Customers are Saying</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aut, ipsam.</p>
        
        <div class="testimonial-card">
            <div class="testimonial-image">
                <img src="./images/image.png" alt="Customer Image" width="">
            </div>
            <div class="testimonial-content">
                <div class="quote-icon">❝</div>
                <p style="font-size: 1.4rem; padding: 2rem;"><i >Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt optio officiis dolore earum error eaque perferendis laudantium sed praesentium dolorum.
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt optio officiis dolore earum error eaque perferendis laudantium sed praesentium dolorum.
                </i></p>
                <h3 style="text-align: center; color: #1B0760; font-size: 1.3rem; font-weight: 500;">John Smith</h3>
                <p style="text-align: center; font-size: .8rem; opacity: .6;" >ABC Company</p>
            </div>
        </div>
    </div>
</div>

</body>
</html>
