<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer Section</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
<div class="homeFooter">
<div class="footer">
    <div class="footer-column">
        <div class="brand"><img src="./images/image.png" alt="" width="100%"></div>
        <p style="text-align: center;">Copyright 2024 3BDO</p>
    </div>
    <div class="footer-column">
        <h4>PRODUCTS</h4>
        <a href="#">Website Hosting</a>
        <a href="#">Free Automated</a>
        <a href="#">Wordpress</a>
        <a href="#">Migrations</a>
    </div>
    <div class="footer-column">
        <h4>COMPANY</h4>
        <a href="#">About</a>
        <a href="#">Affiliates</a>
        <a href="#">Blog</a>
    </div>
    <div class="footer-column">
        <h4>SUPPORT</h4>
        <a href="#">Contact</a>
        <a href="#">Knowledge Base</a>
        <a href="#">FAQ</a>
    </div>
    <div class="footer-column">
        <h4>DOMAINS</h4>
        <a href="#">Domain Checker</a>
        <a href="#">Domain Transfer</a>
        <a href="#">Free Domain</a>
    </div>
</div>
</div>
</body>
</html>
