<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get Started Section</title>
    <link rel="stylesheet" href="./section6.css">
</head>
<body>
<div class="homeGetStartedSection">
    <div class="get-started-section">
        <div>
            <p class="get-started-text">Ready to Get Started?</p>
            <p class="get-started-subtext">Choose the internet provider that makes it easy to get started, delivers fast speeds, and supports your growth! Enjoy!</p>
        </div>
        <button class="get-started-button">GET STARTED</button>
    </div>
</div>
</body>
</html>
