<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Features Section</title>
    <link rel="stylesheet" href="./section3.css">
</head>
<body>
    <!-- Features Section -->
    <section class="features-section">
        <h2>Stay Connected And Grow with Our Internet Network</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed, volutpatem.</p>
        
        <div class="feature">
            <div class="feature-content">
                <img src="./images/6.png" alt="" width="60rem" style="margin-bottom:1rem ;">
                <h3>Super Easy to Use</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                </p>
                <a href="#">Learn More →</a>
            </div>
            <div class="feature-image">
                <img src="./images/1.png" alt="Feature Image 1">
            </div>
        </div>

        <div class="feature reverse">
            <div class="feature-content">
                <img src="./images/7.png" alt="" width="60rem" style="margin-bottom:1rem ;">
                <h3>Fast Speed</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                </p>
                <a href="#">Learn More →</a>
            </div>
            <div class="feature-image">
                <img src="./images/2.png" alt="Feature Image 2">
            </div>
        </div>

        <div class="feature">
            <div class="feature-content">
                <img src="./images/8.png" alt="" width="60rem" style="margin-bottom:1rem ;">
                <h3>20ms Delay</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                </p>
                <a href="#">Learn More →</a>
            </div>
            <div class="feature-image">
                <img src="./images/3.png" alt="Feature Image 3">
            </div>
        </div>

        <div class="feature reverse">
            <div class="feature-content">
                <img src="./images/9.png" alt="" width="60rem" style="margin-bottom:1rem ;">
                <h3>24/7 Expert Support</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam obcaecati vel ad unde est illo at. Labore excepturi officia dolores!
                </p>
                <a href="#">Learn More →</a>
            </div>
            <div class="feature-image">
                <img src="./images/4.png" alt="Feature Image 4">
            </div>
        </div>
    </section>
</body>
</html>
